$titulos:(
    font: 35px,
    line-h: 55px,
    letter: -2px,
    col: #404040,
    w: 700,
    align: left,
);

.titulo_principal {
    font-size:map-get($titulos, font);
    line-height:map-get($titulos, line-h);
    letter-spacing:map-get($titulos, letter);
    color:map-get($titulos, col);
    font-weight:map-get($titulos, w);
    text-align:map-get($titulos, align);
  }