@mixin text_description{
    text-align: left;
    font-weight: 100;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: -0.015em;
    font-family: "Circular-Regular";
    color: #404040;
    text-rendering: optimizeLegibility;
}