$text_gradient: linear-gradient(to right, #000000 0%, #97200d 60%);
$nosotros_box_color: rgba(151, 32, 13, 0.2);
$text_font: "Circular-Regular";
$whatssapp_backgorund: rgba(151, 32, 13, 0.6);
$linkedin_color: #0e76a8;
$nosotros_text_color: #97200d;
