.titulo_principal {
  font-size: 55px;
  line-height: 65px;
  letter-spacing: -2px;
  color: #404040;
  font-weight: 700;
  text-align: left;
}
.resaltar_texto {
  background: linear-gradient(to right, #1f45f5 0%, #751ff5 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.phone {
  text-decoration: none;
  color: #282828;
  margin-left: 30px;
}

.phone:hover {
  text-decoration: none;
  color: #282828;
  margin-left: 30px;
}

.links_nav_bar {
  justify-content: baseline;
}

.text_widget {
  box-sizing: border-box;
}

.background {
  color: black;
  text-align: center;
}

.pages,
.footer_links {
  letter-spacing: -0.5px;
  color: #404040;
  text-decoration: none;
  font-weight: 700;
}

.pages,li,.pages:active {
  background: linear-gradient(to right, #1f45f5 0%, #751ff5 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.nav{
  flex-wrap: nowrap!important;
}
.caja {
  padding: 40px;
  background-color: #d0beec;
}
.title_nosotros {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.2px;
  font-family: "Circular-Regular";
}

.text_nosotros {
  letter-spacing: -0.2px;
  font-family: "Circular-Regular";
}
.text-service {
  margin-top: 10px;
  font-size: 15px;
  font-family: "Circular-Regular";
  line-height: 35px;
  width: 100%;
  letter-spacing: -0.2px;
}
.description {
  margin-top: 30px;
  text-align: left;
  font-weight: 100;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: -0.015em;
  font-family: "Circular-Regular";
  color: #404040;
  text-rendering: optimizeLegibility;
  margin-left: -10px;
}
.description_blog {
  margin-top: 20px;
  text-align: left;
  font-weight: 100;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: -0.015em;
  font-family: "Circular-Regular";
  color: #404040;
  text-rendering: optimizeLegibility;
}

.description_servicios{
  margin-top: 20px;
  text-align: left;
  font-weight: 100;
  font-size: 29px;
  line-height: 30px;
  letter-spacing: -0.015em;
  font-family: "Circular-Regular";
  color: #404040;
  text-rendering: optimizeLegibility;
}
.title_blog{
  letter-spacing: -0.2px;
  font-family: "Circular-Regular";
  text-align: left;
  margin-left: -20px;
 
}
.image {
  height: auto;
  width: 40%;
}
.image_blog{
  width: 100%;
}
.image-service {
  margin-bottom: 120px;
}

/* .navBar,.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}
.contacto{
  display: grid;
  grid-template-columns: 60% 30%;
}
 */
/* .container {
  display:grid;
  grid-template-areas: "navBar navBar" "contenido1 contenido1" "contenido2 contenido2" "contenido3 contenido3" "footer footer";
  grid-row-gap: 50px ;
}

.navBar {
  grid-area: navBar;
}

#contenido1 {
  grid-area: contenido1;
}

#contenido2 {
  grid-area: contenido2;
}

#contenido3 {
  grid-area: contenido3;
}

footer {
  grid-area: footer;
  justify-content:end;
} */

.row {
  margin: 0px !important;
}

@media (min-width: 321.98px) and (max-width: 474.98px) {
  .texto {
    font-size: 20px;
  }
  .phone {
    margin-left: 0;
  }
  .phone:hover {
    margin-left: 0;
  }
  .titulo_principal {
    font-size: 30px;
    line-height: 40px;
  }
  .text_widget {
    box-sizing: border-box;
  }
  .row {
    margin: 0px !important;
  }
  .image {
    height: auto;
    width: 50%;
  }
  .caja {
    padding: 10px;
    background-color: #d0beec;
  }
  .text_nosotros {
    text-align: center;
    padding-left: 0px !important;
  }
  .title_nosotros {
    text-align: center;
    padding-left: 0px !important;
  }
  .description_blog {
    padding-left: 0px;
  }
  .image_blog{
    width: 400px;
  }
  .description_blog {
    font-size: 19px;
  }

  .contacto :nth-child(2) {
    margin-top: 30px;
  }
  
}
